<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="YouTube_Chat_Client.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
    </startup>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-13.0.0.0" newVersion="13.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Google.Apis" publicKeyToken="4b01fa6e34db77ab" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.52.0.0" newVersion="1.52.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Google.Apis.Core" publicKeyToken="4b01fa6e34db77ab" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.52.0.0" newVersion="1.52.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <userSettings>
    <YouTube_Chat_Client.Properties.Settings>
        <setting name="clientId" serializeAs="String">
            <value />
        </setting>
        <setting name="clientSecret" serializeAs="String">
            <value />
        </setting>
        <setting name="channel" serializeAs="String">
            <value />
        </setting>
        <setting name="token" serializeAs="String">
            <value />
        </setting>
        <setting name="startPort" serializeAs="String">
            <value>3923</value>
        </setting>
        <setting name="endPort" serializeAs="String">
            <value>3924</value>
        </setting>
        <setting name="hostname" serializeAs="String">
            <value>localhost</value>
        </setting>
        <setting name="dataType" serializeAs="String">
            <value>6</value>
        </setting>
    </YouTube_Chat_Client.Properties.Settings>
  </userSettings>
</configuration>